[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project.git

[submodule "externals/past-python-bindings"]
	path = externals/past-python-bindings
	url = https://github.com/cornell-zhang/past-python-bindings.git

[submodule "externals/stablehlo"]
	path = externals/stablehlo
	url = https://github.com/Fangtangtang/stablehlo.git
	branch = dev

[submodule "externals/shardy"]
	path = externals/shardy
	url = https://github.com/Fangtangtang/shardy.git
	branch = dev

[submodule "externals/mlir-python-extra"]
	path = externals/mlir-python-extra
	url = https://github.com/Fangtangtang/mlir-python-extra.git
	branch = main
