[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "externals/past-python-bindings"]
	path = externals/past-python-bindings
	url = https://github.com/cornell-zhang/past-python-bindings.git
