# Copyright Allo authors. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details

version: 2
jobs:
  build:
    working_directory: ~/allo
    docker:
      - image: chhzh123/llvm-project:18.x
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: large
    steps:
      - checkout  # checkout source code to working directory
      - run:
          name: Build HCL-MLIR
          command: |
            source activate hcl-dev
            export BUILD_DIR=/root/llvm-project/build
            export PREFIX=/root/llvm-project/build
            git clone https://github.com/cornell-zhang/hcl-dialect.git
            cd hcl-dialect
            mkdir -p build && cd build
            cmake -G "Unix Makefiles" .. \
                -DMLIR_DIR=$PREFIX/lib/cmake/mlir \
                -DLLVM_EXTERNAL_LIT=$BUILD_DIR/bin/llvm-lit \
                -DPYTHON_BINDING=ON \
                -DPython3_EXECUTABLE=`which python3` \
                -DCMAKE_CXX_FLAGS="-Wfatal-errors -std=c++17"
            make -j4
            export PYTHONPATH=$(pwd)/tools/hcl/python_packages/hcl_core:${PYTHONPATH}
      - run:
          name: Install Allo Dependencies
          command: |
            source activate hcl-dev
            python3 -m pip install -r requirements.txt
      - run:
          name: Formatting Check
          command: |
            source activate hcl-dev
            python3 -m pip install black==23.1.0 pylint==2.17.1
            bash ./.circleci/task_lint.sh
      - run: 
          name: Allo Tests
          command: |
            source activate hcl-dev
            export ALLO_HOME=$(pwd)
            export LLVM_BUILD_DIR=/root/llvm-project/build
            export PATH=${LLVM_BUILD_DIR}/bin:${PATH}
            export PYTHONPATH=$ALLO_HOME/hcl-dialect/build/tools/hcl/python_packages/hcl_core:${PYTHONPATH}
            export PYTHONPATH=$ALLO_HOME:${PYTHONPATH}
            python3 -m pytest tests -v
            python3 -m pytest test_tutorial.py -v
