# Copyright Allo authors. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details

version: 2
jobs:
  build:
    working_directory: ~/allo
    docker:
      - image: chhzh123/hcl-dialect:llvm-18.x-py3.12
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: large
    steps:
      - checkout  # checkout source code to working directory
      # - run:
      #     name: Patch LLVM Project
      #     command: |
      #       cp externals/llvm_patch /root/llvm-project
      #       cd /root/llvm-project
      #       git apply llvm_patch
      #       cd build
      #       make -j4
      - run:
          name: Build HCL-MLIR
          command: |
            source activate hcl-dev
            export SUBMOD_COMMIT=$(git rev-parse HEAD:externals/hcl_mlir)
            cd /root/hcl-dialect
            git remote update
            git fetch
            git checkout $SUBMOD_COMMIT
            cd build
            make -j4
            cd tools/hcl/python_packages/hcl_core
            python3 -m pip install -e .
      - run:
          name: Install Allo Dependencies
          command: |
            source activate hcl-dev
            python3 -m pip install -r requirements.txt
      - run:
          name: Formatting Check
          command: |
            source activate hcl-dev
            python3 -m pip install black==23.11.0 pylint==3.0.2
            bash ./.circleci/task_lint.sh
      - run: 
          name: Allo Tests
          command: |
            source activate hcl-dev
            export ALLO_HOME=$(pwd)
            export LLVM_BUILD_DIR=/root/llvm-project/build
            export PATH=${LLVM_BUILD_DIR}/bin:${PATH}
            export PYTHONPATH=/root/hcl-dialect/build/tools/hcl/python_packages/hcl_core:${PYTHONPATH}
            export PYTHONPATH=$ALLO_HOME:${PYTHONPATH}
            python3 -m pytest tests -v
            python3 -m pytest tutorials -v
