# Copyright Allo authors. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

name: "Self-Hosted CI"

on:
  schedule:
    - cron: '0 * * * *'
  # pull_request:
  #   branches:
  #     - main

jobs:
  build-and-test:
    runs-on: [self-hosted, aie, xdna2]

    steps:
    - name: Init
      run: |
        echo "HOME is $HOME"

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.ref }}

    - name: Activate conda environment
      shell: bash
      run: |
        source "$HOME/miniconda3/etc/profile.d/conda.sh"
        conda create -n allo-ci python=3.12
        conda activate allo-ci
        which python3
        python3 --version
        OLD_PATH=$PATH
        export PATH=/opt/cmake/bin:/opt/llvm-project/build/bin:$PATH
        export LLVM_BUILD_DIR=/opt/llvm-project/build/
        echo "Install allo"
        python3 -m pip install -v -e .
        export PATH=$OLD_PATH
        python3 -m pip install mlir_aie -f https://github.com/Xilinx/mlir-aie/releases/expanded_assets/v1.0
        python3 -m pip install https://github.com/Xilinx/llvm-aie/releases/download/nightly/llvm_aie-19.0.0.2025041501+b2a279c1-py3-none-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl
        python3 -m pip install -r /opt/mlir-aie/python/requirements.txt
        HOST_MLIR_PYTHON_PACKAGE_PREFIX=aie python3 -m pip install -r /opt/mlir-aie/python/requirements_extras.txt
        python3 -m pip install -r /opt/mlir-aie/python/requirements_ml.txt
        export MLIR_AIE_INSTALL_DIR="$(pip show mlir_aie 2>/dev/null | grep ^Location: | awk '{print $2}')/mlir_aie"
        export PEANO_INSTALL_DIR="$(pip show llvm-aie 2>/dev/null | grep ^Location: | awk '{print $2}')/llvm-aie"
        export PATH=${MLIR_AIE_INSTALL_DIR}/bin:${PATH} 
        export PYTHONPATH=${MLIR_AIE_INSTALL_DIR}/python:${PYTHONPATH}
        export LD_LIBRARY_PATH=${MLIR_AIE_INSTALL_DIR}/lib:${LD_LIBRARY_PATH}
        export INSTALL_PY_MAIN="$MLIR_AIE_INSTALL_DIR/python/aie/compiler/aiecc/main.py"
        cp /opt/mlir-aie/python/compiler/aiecc/main.py "$INSTALL_PY_MAIN"
        export XILINX_LOC=/opt/xilinx/Vitis/2024.2
        export AIETOOLS_ROOT=$XILINX_LOC/aietools
        export PATH=$PATH:${AIETOOLS_ROOT}/bin:$XILINX_LOC/bin
        export VITIS=${XILINX_LOC}
        export XILINX_VITIS=${XILINX_LOC}
        export VITIS_ROOT=${XILINX_LOC}
        source ${XILINX_LOC}/settings64.sh
        source /opt/xilinx/xrt/setup.sh
        export MLIR_AIE_EXTERNAL_KERNEL_DIR=/opt/mlir-aie/aie_kernels/
        export RUNTIME_LIB_DIR=/opt/mlir-aie/runtime_lib/
        export NPU2=1
        echo "Running AIE tests..."
        python3 -m pytest --ignore=tests/dataflow/aie/gpt2 tests/dataflow/aie -v
